---
import "../styles/global.css";
import { Analytics } from "@vercel/analytics/astro";

const { title = "TeddyHub" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
...
<head>
    <meta property="og:type" content="website" />

<meta
property="og:title"
content="TeddyHub"
/>

<meta
property="og:description"
content="Modern websites and premium digital experiences."
/>

<meta
property="og:url"
content="https://teddyhub-eight.vercel.app"
/>

<meta
property="og:image"
content="https://teddyhub-eight.vercel.app/images/profile/hero.png"
/>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />

  <title>TeddyHub | Software Engineer & Web Developer</title>

  <meta
    name="description"
    content="TeddyHub builds modern websites, web applications and premium digital experiences."
  />

  <meta
    name="keywords"
    content="TeddyHub, Web Developer, Software Engineer, Frontend Developer, Astro, React, Portfolio"
  />

  <meta
    name="author"
    content="TeddyHub"
  />

  <meta
    name="robots"
    content="index, follow"
  />

  <link
    rel="canonical"
    href="https://teddyhub-eight.vercel.app/"
  />
<link rel="icon" href="/favicon.ico" />
</head>

<body>

    <slot />
<Analytics />
</body>

</html>